/* - - - - - - - - - - - - - - - - - - - - -

 Title : Wolf & Badger contact form
 Author : Jen Berry
 URL : https://www.wolfandbadger.com/staticmedia/css/wufoo-apply-form.css

 Last Updated : 23 Dec 2016

- - - - - - - - - - - - - - - - - - - - - */


html.embed,
.wufoo,
#container,
.wufoo li.focused,
.wufoo input.text,
.wufoo textarea.textarea,
.wufoo select.select,
input[type="submit"],
.wufoo  label.desc,
.wufoo li.focused label.desc,
.confirm h2,
.wufoo .info h2{
	color: blue;
}